.imagenperfi{
  
  position:relative;
  display: inline-block;
  top:0;
  left:20px;
  margin-top: 10px;
  margin-bottom: 10px;
    }

.Fondo {background-color: rgb(217, 236, 236);
        background-image: url(C:\Users\Pc\Desktop\proyecto\src\assets\FondoPerfil.jpg);
        width: 1330px;
        border-radius: 15px;
        margin-left: 10px;  
      }

.imgPerfil {
   
  border-radius: 50%; 
  width: 200px;
  height: 200px;
     }