/*.imagenperfi{
  
  position:relative;
  display: inline-block;
  top:0;
  left:20px;
  margin-top: 10px;
  margin-bottom: 10px;
    }

.Fondo {background-color: rgb(217, 236, 236);
        background-image: url(../../assets/FondoPerfil.jpg);
        width: 100%;
        border-radius: 15px;
        margin-left: 10px;  
      }

.imgPerfil {
   
  border-radius: 50%; 
  width: 200px;
  height: 200px;
     }
*/

/*imagen de perfil*/
#fotoDePerfil{
  position: relative;
  display: inline-block;
  border-radius: 50%; 
  width: 250px;
  height: 250px; 
  top: 5px;
  left:20px;
 
  margin-bottom: 10px;
}
     