<!--<div class="footer">
	<h4><b>Todos los derechos reservados.....</b></h4>
	<h4>Redes Sociales</h4>
	<br>
	
	<a href="https://facebook.com" class="boton">facebook &nbsp;</a>
	<a href="https://facebook.com" class="boton">&nbsp;twitter&nbsp; </a>
	<a href="https://facebook.com" class="boton">&nbsp;instagram&nbsp; </a>
	<a href="https://facebook.com" class="boton">&nbsp;LinkedIn&nbsp; </a>
</div>-->

<div class="row">
    <div class="col-xs-12 col-lg-12" id="footer">	
		<h4><b>Todos los derechos reservados.....</b></h4>
	              <h4>Redes Sociales</h4>
		</div>
</div>
