<div class="FondoCapacitacion">
    <div class="contenedor">
     
        <h2 id ="capacitación">Capacitacion</h2>  
           <p >
               <strong> ANALISTA DE SISTEMA</strong><br>
                Esc. Comercial Domingo G. Silva
                        <br>
                        <strong> ANALISTA PROGRAMADOR</strong><br>
             Esc. Comercial Domingo G. Silva
             <br>
             <strong>TECNICO EN REPARADOR DE PC</strong><br>
             Centro Integral de capacitación
                        <br>            
                        <strong>      PERITO MERCANTIL</strong><br>
             Esc. Comercial Domingo G. Silva<br>
            </p><br>
        <h2 id ="trabajos">Trabajos</h2>    
    </div>    
</div>

<img class ="CapacitacionImagen" src="..\assets\capacitacion.jpg" title="Presentacion">