<!--<h2>Redes Sociales</h2>
<div class="row">
     <div class="col-xs-12 col-lg-12" id="redessociales">
                    
                            <a href="https://facebook.com" class="boton">facebook</a>
                            <a href="https://facebook.com" class="boton">twitter</a>
                            <a href="https://facebook.com" class="boton">instagram</a>
                            <a href="https://facebook.com" class="boton">LinkedIn</a>
      </div>



      
</div>-->
<h2>Redes Sociales</h2>
<div class=".container-fluid" > 
    <div class="col-xs-12 col-lg-12" id="redessociales">
    <div >
          <nav>
              <ul >
                <a href="https://facebook.com" class="boton">facebook</a>
                <a href="https://facebook.com" class="boton">twitter</a>
                <a href="https://facebook.com" class="boton">instagram</a>
                <a href="https://facebook.com" class="boton">LinkedIn</a>
             </ul>
         </nav>
     </div> 
    </div>
</div>
