
<div class="contenedor">
    
        <h2 id ="presentacion">Presentacion Mario Cena</h2>   
            <p>Tengo 38 años, actualmente me encuentro en búsqueda laboral.
             Administrativo con más de 10 años de experiencia, a lo largo de mi carrera<br>
              he pasado por todo tipo de organizaciones: gestionando, planificando, atendiendo y<br>
               realizando tareas administrativas, de soporte y de apoyo a cualquier empresa.
            Soy capaz de desempeñar mis funciones eficientemente en prácticamente cualquier<br>
             departamento de la empresa.
            </p>
    
</div>    
