.FondoPresentacion{  
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
  
  }

.contenedor { 
   
    position:relative;
    background-color: white;
    margin-top: 30px;
    left: 550px;
    width: 30%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
                
}

p{  color: rgb(184, 178, 178);
   
    text-align: justify;
    font-size: 18px;
}

h2 {
    color: rgb(44, 40, 40);
    text-align: center;
     
}

.PresentacionImagen{
    position: relative;
    width: 30%;
    height: 30%;
    bottom: 380px;
    padding-left: 5px;
}


