

<h2 id ="presentacion">Presentacion Mario Cena</h2>   

<div class="row">
    
    <br>
    <br>
    <br>

    <div class="col-xs-12 col-lg-6" >
        <img class ="PresentacionImagen" src="..\assets\Presentacion.jpg" title="Presentacion">

    </div>
     
    <div class="col-xs-12 col-lg-5" >
            <p>Tengo {{persona.edad}} años, actualmente me encuentro en búsqueda laboral.
            Administrativo con más de 10 años de experiencia, a lo largo de mi carrera
             he pasado por todo tipo de organizaciones: gestionando, planificando, atendiendo y
            realizando tareas administrativas, de soporte y de apoyo a cualquier empresa.<br>
            Soy capaz de desempeñar mis funciones eficientemente en prácticamente cualquier
            departamento de la empresa.
         </p>
    </div>
   

</div>
