<!--

             <div class="Trabajo1">       
                  <br>   
                       <h3>Balangione SRL</h3>   
                        <p>
                          •	Manejo de cuentas corrientes y proveedores<br> 
                           •	Atención al cliente<br> 
                           •	Facturación, proforma, órdenes de pago, recibos<br> 
                           •	Administración del departamento de repuesto<br> 
                           •	Manejo de bancos (depósitos, transferencia, valores, etc.)<br> 
                           •	Coordinador de transporte y logística para búsqueda-distribución de maquinaria y Repuestos agrícolas<br>
                           <a href=#top>subir</a>
                          </p>
                           
              </div>

              <div class="Trabajo2">
                 <br> 
                        <h3>Balangione SRL</h3>   
                        <p>Coordinador IT:
                           •	Establecer protocolos para el uso de los sistemas y plataformas de TI en todos los departamentos y proyectos de la empresa.<br> 
                           •	Asesorar a los directivos sobre las opciones informáticas más adecuadas<br> 
                           •	Brindar soporte técnico o formación en sistemas y redes<br> 
                           •	Actuar como enlace entre los usuarios finales y el soporte de nivel superior<br> 
                           •	Instalar y configurar software y hardware<br> 
                           •	Supervisar el rendimiento del sistema y de la red<br> 
                           •	Realizar la resolución de problemas, las reparaciones y la restauración de datos<br> 
                           •	Programar y ejecutar actividades de mantenimiento de los sistemas y plataformas de TI<br> 
                           •	Mantener las licencias y los programas de actualización
                           <a href=#top>subir</a>
                        </p>
                          
               </div>

              <div class="Trabajo3">
                       <br> 
                     <h3>TELECOM- (STEEM)</h3>   
                      <p>
                         •	Configuración, downgrade e instalación de equipos DSLAM, UA5000 <br> 
                            (primero en instalarlo en Argentina)<br> 
                         •	Gestión administrativa<br> 
                         •	Aceptación y capacitación de  obras<br> 
                         •	Instalación y configuración Servicio de Banda ancha
                                  <a href=#top>subir</a>
                      </p>
                           
              </div>
-->


<h2 id ="trabajos">Trabajos</h2> 

       <div class = "row">
               <div class = "col-xs-12 col-lg-4 ">
                  <h3>Balangione SRL</h3>   
                   <p>
                     •	Manejo de cuentas corrientes y proveedores<br> 
                      •	Atención al cliente<br> 
                      •	Facturación, proforma, órdenes de pago, recibos<br> 
                      •	Administración del departamento de repuesto<br> 
                      •	Manejo de bancos (depósitos, transferencia, valores, etc.)<br> 
                      •	Coordinador de transporte y logística para búsqueda-distribución de maquinaria y Repuestos agrícolas<br>
                      <a href=#top>subir</a>
                     </p>          
               </div>      

               <div class = "col-xs-12 col-lg-5">
                  <h3>Balangione SRL</h3>   
                   <p>Coordinador IT:<br>
                     •	Establecer protocolos para el uso de los sistemas y<br>
                      plataformas de TI en todos los departamentos y proyectos de la empresa.<br> 
                     •	Asesorar a los directivos sobre las opciones informáticas más adecuadas<br> 
                     •	Brindar soporte técnico o formación en sistemas y redes<br> 
                     •	Actuar como enlace entre los usuarios finales y el soporte de nivel superior<br> 
                     •	Instalar y configurar software y hardware<br> 
                     •	Supervisar el rendimiento del sistema y de la red<br> 
                     •	Realizar la resolución de problemas, las reparaciones y la restauración de datos<br> 
                     •	Programar y ejecutar actividades de mantenimiento de los sistemas y plataformas de TI<br> 
                     •	Mantener las licencias y los programas de actualización<br>
                     <a href=#top>subir</a>
                  </p>
                </div>

                <div class = "col-xs-12 col-lg-3 ">
                  <h3>TELECOM- (STEEM)</h3>   
                      <p>
                         •	Configuración, downgrade e instalación de equipos<br> 
                         DSLAM, UA5000 (primero en instalarlo en Argentina)<br>
                         •	Gestión administrativa<br>
                         •	Aceptación y capacitación de  obras<br>
                         •	Instalación y configuración Servicio de Banda ancha<br>
                           <a href=#top>subir</a>
                      </p>
                </div> 



        </div>       

