.lorem {position: relative;
        top: 200px;
        left: 550px;
        width: 30%;
        height: auto;
        border: 2px solid black;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;}    
        
 .body {
         background-color: rgb(217, 236, 236);;
 }       


                    
       
                