<div class="container">
    <div class="lorem">
  <h2 id ="trabajos">Trabajos</h2>
  <br>      
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Reiciendis provident accusantium nam quasi odit illum. Rerum sunt alias distinctio ipsa iusto 
    enim accusantium vitae qui. Corrupti distinctio quasi doloribus dolore.</p><a href=#top>subir</a>
</div>
</div>
<div class="container">
  <div class="lorem">
<h2 id ="trabajos">Trabajos</h2>
<br>      
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
  Reiciendis provident accusantium nam quasi odit illum. Rerum sunt alias distinctio ipsa iusto 
  enim accusantium vitae qui. Corrupti distinctio quasi doloribus dolore.</p><a href=#top>subir</a>
</div>
</div>
<div class="container">
  <div class="lorem">
<h2 id ="trabajos">Trabajos</h2>
<br>      
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
  Reiciendis provident accusantium nam quasi odit illum. Rerum sunt alias distinctio ipsa iusto 
  enim accusantium vitae qui. Corrupti distinctio quasi doloribus dolore.</p><a href=#top>subir</a>
</div>
</div>
<div class="container">
  <div class="lorem">
<h2 id ="trabajos_final">Trabajos</h2>
<br>      
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
  Reiciendis provident accusantium nam quasi odit illum. Rerum sunt alias distinctio ipsa iusto 
  enim accusantium vitae qui. Corrupti distinctio quasi doloribus dolore.</p><a href=#top>subir</a>
</div>
</div>