<div class="contenedor">
<div class="menu">
  <nav>
      <ul id="top">
        
        <li><a href="#presentacion" class="boton">Presentacion</a></li>  
        <li ><a href="info-personal/info-personal.component.html" class="boton">Informacion Personal</a></li>
        <li ><a href="capacitacion/capacitacion.component.html" class="boton">Capacitacion</a></li>
        <li ><a href="#trabajos_final" class="boton">Trabajos</a></li>
        <li><a href="presentacion/presentacion.component.html" target="_blank">
          <input type="button" value="Presentacion">
      </a>
    </li>
      </ul>
  </nav>
</div> 
</div>

